$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tabletS: 560px;
$tablet: 768px;
$desktopXS: 940px;
$desktopS: 1200px;
$desktop: 1360px;
$desktopM: 1440px;
$desktopL: 1920px;
$desktop4k: 2560px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

$font: "open_sans", "Arial", sans-serif;
$color-text: #262161;
$color-accent: #f12c2c;
$color-violet: #5a5684;

$color-white: #ffffff;
$color-black: #000000;
