.button {
  position: relative;
  z-index: 1;
  padding: 7px 30px;
  border: 1px solid $color-violet;
  border-radius: 10px;  
  font-weight: 400;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $color-violet;
  overflow: hidden;
  text-transform: none;

  cursor: pointer;

  transition:all 0.2s linear;
}

.button:hover {
  background-color: #fff;
  color: $color-text;
  transform: translate(0, -2px);
  box-shadow: 1px 2px 2px 1px $color-violet,
  1px 2px 0 1px $color-violet;
}

.button:focus {
  background-color: $color-violet;
  color: #ffffff;
  transform: translate(0, 0);
  box-shadow: unset;
}

.button--red {
  background-color: $color-accent;
  transition: 0.3s background-color linear;
}

.button--red:hover {
  background-color: $color-violet;
}


.button:hover,
.button:focus {
  // border: 1px solid $color-accent;
  // color: $color-accent;
}

.button--dark {
  // background-color: $color-dark;

  &:hover {
    // background-color: $color-accent;
  }
}
