.button {
  position: relative;
  z-index: 1;
  padding: 7px 30px;
  border: 1px solid $color-violet;
  border-radius: 10px;  
  font-weight: 400;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $color-violet;
  overflow: hidden;
  text-transform: none;

  cursor: pointer;

  // transition: border 0.2s linear, color 0.2s linear;
}

.button:hover,
.button:focus {
  // border: 1px solid $color-accent;
  // color: $color-accent;
}

.button--dark {
  // background-color: $color-dark;

  &:hover {
    // background-color: $color-accent;
  }
}
