.call-btn {
  min-height: 50px;
  padding-left: 60px;
  background-color: $color-accent;

  white-space: nowrap;
}

.call-btn__icon {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  fill: #ffffff;
  top: 10px;
  left: 13px;
}

@keyframes call {
  0% {
    transform: scale(1) rotate(0deg);
  }

  5% {
    transform: scale(1.1) rotate(20deg);
  }

  10% {
    transform: scale(1.1) rotate(0deg);
  }

  15% {
    transform: scale(1.1) rotate(20deg);
  }

  20% {
    transform: scale(1.1) rotate(0deg);
  }

  25% {
    transform: scale(1.1) rotate(20deg);
  }

  30% {
    transform: scale(1.1) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@media (min-width: $desktopXS) {
  .call-btn__icon {
    animation: 5s call linear infinite;
  }

  .call-btn:hover .call-btn__icon,
  .call-btn:focus .call-btn__icon {
    // animation: rotateIcon 1s linear .1 backwards;
    animation: rotateIcon 1.6s linear backwards;
  }

  @keyframes rotateIcon {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1.2) rotate(0deg);
    }
    20% {
      transform: scale(1) rotate(0deg);
    }
    40% {
      transform: scale(1.2) rotate(0deg);
    }
    50% {
      transform: scale(0.6) rotate(0deg);
    }
    65% {
      transform: scale(0.6) rotate(180deg);
    }
    80% {
      transform: scale(1.2) rotate(360deg);
    }
    90% {
      transform: scale(1.1) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }
}

@media (min-width: $desktopS) {
  .call-btn {
    min-height: 56px;
    font-size: 18px;
  }

  .call-btn__icon {
    top: 11px;
    left: 15px;
  }
}

@media (min-width: $desktop) {
  .call-btn {
    font-size: 20px;
  }
}
