.cart-btn {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}

.cart-btn__count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 50%;
    background-color: $color-accent;
}

.cart-btn__icon {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
