@media (max-width: $desktopS - 1px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    background-color: rgba($color-white, 0.95);

    transform: translateX(-100%);

    transition: transform 0.2s linear;
  }

  .menu.active {
    transform: translateX(0);
  }
}

@media(min-width: $mobileL) {
  .menu {
    right: unset;
  }
}

@media (min-width: $desktopS) {
  .menu {
    // position: relative;
    // display: flex;
    justify-content: center;
    // align-items: center;
    flex-grow: 1;
  }
}
