.modal-details {
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  overflow-y: auto;

  transition: left 0.3s cubic-bezier(0, 0, 0, 1.2);
}

.modal-details__table-wrap {
  flex-grow: 1;
  min-height: 140px;
  overflow: hidden;
  margin-top: 30px;
}

.modal-details__title {
  width: calc(100% + 40px);
  margin: 0;
  margin-left: -20px;
  padding: 30px 20px;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
  background-color: $color-violet;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.modal-details.active {
  left: 50%;
}

.modal-details__note {
  margin-top: 20px;
  font-size: 16px;
  color: #000000;

  span {
    color: #ff0000;
  }
}

@media (min-width: $tabletS) {
  .modal-details {
    width: 90%;
  }

  .modal-details__note {
    font-size: 17px;
  }
}