.page-footer__wrap {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #ffffff;
  background-color: $color-violet;
  font-size: 15px;
}

.page-footer__top {
  width: 100%;
  margin-bottom: 30px;
}

.page-footer__logo {
  width: 280px;
  // margin: 0 auto;
}

.page-footer__nav {
  @include list-reset;
  margin-left: 63px;
  margin-bottom: 40px;
}

.page-footer__nav-item {
  margin-bottom: 10px;
}

.page-footer__nav-link {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.page-footer__nav-link:hover {
  text-decoration: underline;
}

.page-footer__contacts {
  @include list-reset;
  margin-bottom: 40px;
  // margin-left: 30px;
}

.page-footer__contacts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-footer__contacts-left {
  margin: 0;
  margin-bottom: 15px;
}

.page-footer__contacts-info {
  margin: 0;
}

.page-footer__contacts-info:not(:last-child) {
  margin-bottom: 5px;
}

.page-footer__contacts-info a {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.page-footer__contacts-info a:hover,
.page-footer__contacts-info a:focus {
  text-decoration: underline;
}

.page-footer__consultation {
  // width: 240px;
  margin: 0 auto;
  margin-bottom: 40px;

  .consultation-form {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .consultation-form__title {
    text-transform: none;
  }

}

.page-footer__social {
  display: flex;
  justify-content: center;
  @include list-reset;
  margin-right: -10px;
  margin-bottom: 20px;
}

.page-footer__social-item {
  margin-right: 10px;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;

  background-color: transparent;

  transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    background-color: #3b5998;
  }
}

.page-footer__social-icon {
  fill: #ffffff;
}

.page-footer__right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tabletS) {
  .page-footer__contacts-item {
    flex-direction: row;
  }

  .page-footer__contacts-left {
    width: 25%;
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .page-footer__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__nav {
    margin-right: auto;
  }

  .page-footer__contacts {
    width: 50%;
  }

  .page-footer__consultation {
    justify-content: flex-start;
    margin: 0;
    width: 50%;

    .consultation-form {
      width: 250px;
    }

    .consultation-form__title  {
      text-align: left;
    }
  }

  .page-footer__right-block {
    padding: 20px;
    border-left: 1px solid #ffffff;
  }
}

@media (min-width: $desktopS) {
  .page-footer__bottom {
    align-items: flex-start;
  }

  .page-footer__contacts {
    width: 35%;
    margin: 0;
    margin-right: 30px;
  }

  .page-footer__consultation {
    width: 270px;
  }

  .page-footer__right-block {
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }

  .page-footer__social {
    flex-direction: column;
    justify-content: space-between;

    .social__item {
      margin-bottom: 15px;
    }
  }
}
