.product {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.product__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-violet, 0.2);
    background-color: rgba(#3fc5f0, 0.1);
    
  }
}

.product__name {
  margin: 15px 0;
  text-transform: uppercase;
  text-align: center;
}

.product__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  white-space: nowrap;
  overflow: visible;

  transition: all 0.2s linear;
}


.product__btn:hover {
  background-color: #fff;
  color: $color-text;
  transform: translate(-50%, -2px);
  box-shadow: 1px 2px 2px 1px $color-violet,
  1px 2px 0 1px $color-violet;
}

.product__btn:focus {
  background-color: $color-violet;
  color: #ffffff;
  transform: translate(-50%, 0);
  box-shadow: unset;
}

@media (min-width: $mobileM) {
  .product {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
}

@media (min-width: $tabletS) {
  .product {
    width: calc(100% / 3 - 10px);
    padding-bottom: 60px;
  }
}

@media (min-width: $tablet) {
  .product {
    width: calc(100% / 4 - 10px);
  }
}

@media (min-width: $desktopXS) {
  .product {
    width: calc(100% / 5 - 10px);
  }

  .product__btn {
    // display: block;
    max-width: 160px;
    margin: 0 auto;
  }
}
