.testimonials__wrap {
  background-color: #f9f9f9;
  background-image: url("../img/despre-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials__author {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}
.testimonials__content {
  font-size: 15px;
  font-weight: 400;
}

.testimonials__content p {
  margin: 0;
}